
.solution-header{
    background: lightblue;
    border-radius: 45px;
    background: rgba(255, 255, 255, 0.65);
    height: 22vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:50px;
    margin-top: 75px;
}

#submit-btn{
    margin-left: 20px
}
