tr{
    height: 30px;
  }
 
 td{
   text-align: center;
 }
 
 thead{
   text-align: center;
   font-weight: bold;
 }

 .col1, .col2, .col3 {
    word-wrap:normal;
 }

 .col5 {
    word-wrap: break-word;
 }

 .remove-entry{
    float:0px;
    color:white;
    background-color:#17a2b8;
    height:20px;
    align-content: center;
    padding:0;
    margin: 6px auto;
    text-align: center;
    font-size: 12px;
    width: 62px;
    /* display: inline-block; */
    vertical-align: center;
  }
  
  .positive{
    font-weight: bold;
    color: green;
  }

  .table-header {
    background: rgba(255, 255, 255, 0.65);
    margin: 5% 10% 5% 10%;
    border-radius: 45px;
}

  